annotated-types==0.7.0
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
cssselect2==0.8.0
defusedxml==0.7.1
et_xmlfile==2.0.0
fonttools==4.58.1
fpdf2==2.8.3
idna==3.10
numpy==2.2.6
openpyxl==3.1.5
pandas==2.2.3
pdfrw==0.4
pillow==11.2.1
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pypdf==5.5.0
PyPDF2==3.0.1
python-barcode==0.15.1
python-dateutil==2.9.0.post0
pytz==2025.2
qrcode==8.2
reportlab==4.4.1
requests==2.32.3
six==1.17.0
svgwrite==1.4.3
tinycss2==1.4.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.4.0
webencodings==0.5.1
